### Load Diagnoses

In [33]:
import pandas as pd

# persons with 3 or more HIV dx codes after 2018-01-01
cohort = pd.read_csv("HIV_cohort.csv")

# target conditions like HCV/obesity/depression/anxiety/etc.
conditions = pd.get_dummies(pd.read_csv("condition_query.csv"), 
                           prefix=None).groupby('person_id').sum().reset_index()

# merge aforementioned dataframes
dx_df = cohort.merge(conditions,
            how = 'left', on = 'person_id').fillna(0)

### Outpatient Visits, Emergency Deparment Encounters, and Inpatient Admissions

In [34]:
# number of E&M visits for established patients (CPT 99211-99215) from 6-2018 to 6-2019
outpatient = pd.read_csv("outpatient_visits.csv")
outpatient['office_visits'] = outpatient['visits']

# number of ED and inpatient encounters from 6-2018 to 6-2019
hospital = pd.read_csv("hospital_visits.csv")

visits_df = outpatient[['person_id', 'office_visits']].merge(hospital, 
                on = 'person_id', how = 'outer').fillna(0)

### Laboratory Values: HIV Viral Load and HbA1c

In [35]:
######################
# HIV RNA viral load #
######################

# all viral load labs starting 2018-01-01
vl_labs = pd.read_csv("viral_loads.csv")

# convert strings to float using a 'reference data frame'
vl_summary = vl_labs.groupby('value_source_value').size().reset_index().sort_values([0], ascending = False)
vl_summary.columns = ['value_source_value', 'value']

# normalize VL labs
i, floats, dmap = 0, [], {'Not Detected':0, '<20':0, '>10000000':10000, 'BT':0, 'TNP':0}
for result in vl_summary['value_source_value'].tolist():
    try:
        floats.append(float(result))
    except:
        floats.append(float(dmap[result]))

# vls column to create binary variable for 'viral load suppression'
vl_summary['vls'] = [x < 200 for x in floats]

VLS_df = vl_labs.merge(vl_summary, 
                       on = 'value_source_value')[['person_id', 'measurement_date', 'vls']]

# get most recent lab for each patient
VLS_df = VLS_df.merge(
    VLS_df.groupby('person_id').measurement_date.first().reset_index(),
    on = ['person_id', 'measurement_date'])



#########
# HbA1c #
#########

hba1c_df = pd.read_csv('hba1c_values.csv').sort_values(['person_id','measurement_date'])
# get most recent lab for each patient
hba1c_df = hba1c_df.groupby('person_id').last()
hba1c_df['hba1c'] = hba1c_df['value_as_number']

#############
# join labs #
#############

lab_df = VLS_df.merge(hba1c_df, on = 'person_id', how = 'left')

### Create Final Dataframe

In [39]:
df = dx_df.merge(visits_df, how = 'left').fillna(0).merge(
    lab_df[['person_id', 'vls', 'hba1c']], on = 'person_id')

#df.to_csv("omop_indicators.csv")

,person_id,dx_alcoholism,dx_anxiety,dx_depression,dx_diabetes,dx_drug abuse,dx_hcv,dx_hypertension,dx_psychosis,office_visits,er_visits,inpatient_admissions,vls,hba1c
0,882726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,True,4.7
1,2801900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,NaN
2,2004484,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,6.0,1.0,0.0,True,9.6
3,1905426,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,9.2
4,3867637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.3
5,1928025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,True,4.4
6,1934623,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.5
7,2234562,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2.0,2.0,True,4.9
8,3183880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,True,4.6
9,9520883,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,True,4.9
10,4280437,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,NaN
11,4698481,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True,5.5
12,9587850,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,True,NaN
13,8321796,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True,5.8
14,8321796,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True,5.8
15,2352936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,4.7
16,2991987,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,True,5.1
17,8678171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.2
18,3961262,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,True,5.3
19,8355155,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,True,5.5
20,775616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,True,5.1
21,1873959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,True,6.2
22,6810988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,4.9
23,3862393,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,True,5.5
24,4093576,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,7.7
25,8658569,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,True,NaN
26,1883219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.3
27,4072783,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,13.0,3.0,0.0,True,NaN
28,4489745,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,1.0,0.0,True,5.8
29,8383931,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,1920814,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,True,4.8
2658,9007745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,NaN
2659,2009676,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,True,5.6
2660,8491808,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,False,5.4
2661,8753499,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,0.0,True,5.1
2662,8753499,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,0.0,True,5.1
2663,4351935,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.2
2664,1370024,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,False,NaN
2665,4043334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.8
2666,2852070,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,True,5.9
2667,9204467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,True,NaN
2668,8790917,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True,5.4
2669,3711590,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,True,7.4
2670,5302375,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,False,NaN
2671,5302375,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,True,NaN
2672,4256475,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,0.0,0.0,True,NaN
2673,8555984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.1
2674,8555984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,5.1
2675,9570446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,NaN
2676,9570446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,NaN
2677,6868417,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,0.0,0.0,True,6.4
2678,9569235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,NaN
2679,9569235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,NaN
2680,1916277,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,4.5
2681,7421626,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,True,5.9
2682,1914030,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,True,5.2
2683,6354684,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,True,NaN
2684,4381962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.0
2685,3025821,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,5.3
2686,5201213,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,True,4.5

In [26]:
df.columns
# need new diagnosis, hospitalization risk, CD4 count, unstable housing

Index(['person_id', 'visits', 'dx_alcoholism', 'dx_anxiety', 'dx_depression',
       'dx_diabetes', 'dx_drug abuse', 'dx_hcv', 'dx_hypertension',
       'dx_psychosis', 'vls', 'hba1c'],
      dtype='object')